<div class='content-container'>
  <% @bookings.each do |booking| %>
  <div class='card-booking shadow-2'>
    <div class='bookings-avatar shadow-1'>
      <%= cl_image_tag booking.beast.photo.key %>
    </div>
    <div class='booking-text shadow-text-2'>
        <h5><%= link_to "#{booking.beast.name}", booking_path(booking)%></h5>
        <p>Start date: <%=booking.start_date %></p>
        <p>End date: <%=booking.end_date %></p>
        <p id='price'>Total: $<%=booking.total_price %></p>
    </div>
  </div>
  <% end %>
</div>
