
<div class="page-show user">
    <h1 class="title-show"><%= @user.fullname %></h1>

    <div class="card user">

      <div class="card-img-top">
        <%= cl_image_tag @user.photo.key, crop: :fit, class: "card-img-top" %>
      </div>

      <div class="card-body">
        <h3 class="card-title"><%= @user.email %></h3>
        <h5 class="card-text"><%= @user.bio %></h5>

      </div>

      <div class="btn-container">
        <%= link_to 'Home', root_path, class: 'btn btn-dark' %>
        <%= link_to 'Edit this user', edit_user_path(@user),
            method: :get,
            class: 'btn btn-dark'  %>

      </div>

    </div>
      <!-- Need insert tag for reviews here -->

</div>
