
<div class="beast-container">

  <div class='row search-bar-container'>
    <%= form_tag beasts_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Find a beast"
      %>
      <span class="input-group-btn">
        <i class="fas fa-search"><%= submit_tag "", class: "btn-dark search-btn" %></i>
      </span>
    <% end %>
  </div>

<!-- cards -->
  <div class="row justify-content-center">
    <% if @beasts_results.nil? %>
      <% @beasts.each do |beast| %>
        <div class="card col-12 col-md-5 col-lg-3 p-2 shadow-2 card-mobile" data-url="/beasts/<%= beast.id %>">

          <div class="card-img">
            <% if beast.photo.attached? %>
              <img class="card-img-top" src="<%= cl_image_path beast.photo.key, crop: :fill %>" alt="Card image cap">
            <% else %>
              <%= image_tag "koala-ava.png", alt: "Card image cap", class: "card-img-top"%>
            <% end %>
          </div>

          <div class="card-body shadow-text-2">
            <h3 class="card-title"><%= link_to beast.name, beast_path(beast) %></h3>
            <h6 class="card-text">Where to find: <%= beast.location %></h6>

          </div>

          <%= link_to 'More info', beast_path(beast),
              method: :get,
              class: 'btn btn-dark shadow-1' %>

        </div>
      <% end %>

    <% else %>

      <% @beasts_results.each do |beast| %>
        <% if beast.searchable_type == "Beast" %>
        <!-- another card -->
          <div class="card col-12 col-md-5 col-lg-3 p-2 shadow-2 card-mobile" data-url="/beasts/<%= beast.id %>">
            <div class="card-img">
              <% if beast.searchable.photo.attached? %>
                <img class="card-img-top" src="<%= cl_image_path beast.searchable.photo.key %>" alt="Card image cap">
              <% else %>
                <%= image_tag "koala-ava.png", alt: "Card image cap", class: "card-img-top"%>
              <% end %>
            </div>
            <div class="card-body shadow-text-2">
              <h3 class="card-title"><%= link_to beast.searchable.name, beast_path(beast.searchable) %></h3>
              <h6 class="card-text">Where to find: <%= beast.searchable.location %></h6>
            </div>
            <%= link_to 'More info', beast_path(beast.searchable),
                method: :get,
                class: 'btn btn-dark shadow-1' %>
          </div>
          <% end%>
      <% end %>
    <% end %>
  </div>
</div>


<script>
  let cards = document.querySelectorAll('.card');
  cards.forEach((el) => {
    el.classList.remove('rotate-ani');
    el.addEventListener('click', () => {
      el.classList.add('rotate-ani');
      redirect(el.getAttribute('data-url'));
  })})

  const redirect = (url) => {
    window.location.href = url;
  }
</script>
