<h1 class="title-show"><%= @beast.name %></h1>

<div class="page-show">

    <div class="img-show">
      <% if @beast.photo.attached? %>
        <%= cl_image_tag @beast.photo.key, crop: :fit %>
      <% else %>
        <%= image_tag "koala-ava.png" %>
      <% end %>
    </div>

    <div class="card-show">
      <div class="card-show-body">
        <h5 class="card-text"><%= @beast.category.capitalize %> Category</h5>
        <p class="card-text">Price per day: $<%= @beast.price %></p>
        <p class="card-text">Location: <%= @beast.location %></p>
        <p class="card-text">Danger level: <%= @beast.dangerousness %></p>

        <ul>
          <% @beast.abilities.each do |ability| %>
          <li><%= ability.description %> </li>
          <% end %>
        </ul>

        <%= link_to 'Add Ability to Beast', new_beast_ability_path(@beast) %>



      <!-- Need insert tag for reviews here -->

        <div class="btn-container">
        <%= link_to 'Home', beasts_path, class: 'btn btn-dark' %>
        <%= link_to 'Book now!', new_beast_booking_path(@beast), class: 'btn btn-dark' %>
        <%= link_to 'Edit this beast', edit_beast_path(@beast),
            method: :get,
            class: 'btn btn-dark'  %>
        <%= link_to 'Delete', beast_path(@beast),
            method: :delete,
            data: {confirm: 'Are you sure deleting this beast?'}, class: 'btn btn-dark'  %>
        </div>
      </div>
    </div>

    <!-- MapBox -->
      <div
        id="map"
        style="width: 100%;
        height: 200px;"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      >
    </div>

</div>
