<div class="beast-container">
  <div class="first-row">
    <div class="card beast-img">
      <% if @beast.photo.attached? %>
          <%= cl_image_tag @beast.photo.key, class: 'img-fluid' %>
      <% else %>
        <%= image_tag "koala-ava.png", class: 'img-fluid' %>
      <% end %>
    </div>

    <div class="beast-info">
      <div class="title-container">
        <h1 class="card card-title shadow-text"><%= @beast.name %></h1>
        <% if @beast.reviews.exists? %>
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
            Read reviews
          </button>
        <% end %>
      </div>
      <div class="card card-info-body shadow-text-2">
        <h5 class="card-info-text"><%= @beast.category.capitalize %> Category</h5>
        <p class="card-info-text">Price per day: $<%= @beast.price %></p>
        <p class="card-info-text">Location: <%= @beast.location %></p>
        <p class="card-info-text">Danger level: <%= @beast.dangerousness %></p>

        <ul class="card-info-group">
          <h6>Abilities: </h6>
          <% @beast.abilities.each do |ability| %>
          <li><%= ability.description %> </li>
          <% end %>
        </ul>


      <!-- Need insert tag for reviews here -->


      </div>

      <div class="card card-btn-container">
        <%= link_to 'Home', beasts_path, class: 'btn btn-dark' %>
        <%= link_to 'Book now!', new_beast_booking_path(@beast), class: 'btn btn-dark' %>

        <% if @beast.user.id == current_user.id %>
          <%= link_to 'Add Ability to Beast', new_beast_ability_path(@beast), class: "btn btn-dark" %>
          <%= link_to 'Edit this beast', edit_beast_path(@beast),
            method: :get,
            class: 'btn btn-dark'  %>
          <%= link_to 'Delete', beast_path(@beast),
              method: :delete,
              data: {confirm: 'Are you sure deleting this beast?'}, class: 'btn btn-dark'  %>
        <% end %>
      </div>
    </div>
    </div>

    <!-- MapBox -->
    <div class="second-row">
      <div
          id="map"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
      </div>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">All reviews</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="beast-reviews-container">
          <% @beast.reviews.each do |review| %>
          <li class="modal-review">
            <div>
              <div class="avatar" style="background: url(<%= cl_image_path review.booking.user.photo.key %>);"></div>
              <h6>from: <%= review.booking.user.email %></h6>
            </div>
            <h6><% (review.rating.to_i).times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </h6>
            <p>"<%= review.content %>"</p>
          </li>
          <% end  %>
        </ul>
      </div>

    </div>
  </div>
</div>
